<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basamaklı Sayı Tahmin Oyunu</title>
  <link rel="stylesheet" href="/static/css/sayi.css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <header>
    <h1>Doğa Bilgi Portalı</h1>
</header>


  <div class="container">
    <h1>Basamaklı Sayı Tahmin Oyunu</h1>
    <input type="text" id="guessInput" placeholder="Tahmininiz">
    <button id="submitBtn">Tahmin Et</button>
    <button id="newNumberBtn">Yeni Sayı</button>
    <p id="result"></p>
  </div>

  <script src="/static/js/sayi.js"></script>
</body>
</html>
