<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Çöp Toplama Oyunu</title>
    <link rel="stylesheet" href="/static/css/cöp.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Doğa Bilgi Portalı</h1>
    </header>
    
   
   
    <div class="oyun-alani">
        <div class="copluk-1">
            <img src="/static/imgs/cop/cop.png" alt="Kapalı Çöp Kutusu" id="cop-kutusu-1">
        </div>
        <div class="copluk-2">
            <img src="/static/imgs/cop/cop.png" alt="Kapalı Çöp Kutusu" id="cop-kutusu-2">
        </div>
        <div class="puan">Puan: 0</div>
        <div class="sure">Süre: 45</div>
    </div>
    <script src="/static/js/cöp.js "></script>
</body>
</html>
